@page "/"

<PageTitle>Home</PageTitle>

<h1>Harbor Form</h1>

<div class="container">
    <table class="table">
        <tr>
            <td>
                <label for="country">Negara</label>
            </td>
            <td>
                <input id="country" type="text" class="form-control">
            </td>
        </tr>
        <tr>
            <td>
                <label for="harbor">Pelabuhan</label>
            </td>
            <td>
                <input id="harbor" type="text" class="form-control">
            </td>
        </tr>
        <tr>
            <td>
                <label for="stuff">Barang</label>
            </td>
            <td>
                <input id="stuff_id" type="text" class="form-control">
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <textarea id="stuff" class="form-control"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <label for="price">Harga</label>
            </td>
            <td>
                <div class="input-group mb-3">
                    <span class="input-group-text">Rp</span>
                    <input id="price" type="number" class="form-control">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label for="rates">Tarif Bea Masuk</label>
            </td>
            <td>
                <div class="input-group">
                    <input id="rates" type="number" class="form-control" readonly>
                    <div class="input-group-append">
                        <span class="input-group-text">%</span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <div class="input-group mb-3">
                    <span class="input-group-text">Rp</span>
                    <input id="tariff" type="number" class="form-control" readonly>
                </div>
            </td>
        </tr>
    </table>
</div>

<script>
    // Negara
    $(document).ready(function () {
        let kd_negara, ur_pelabuhan, hs_code, ur_negara, rate;

        let API_HARBOR_URL;
        const BASE_URL = "https://insw-dev.ilcs.co.id/n/"
    @* const BASE_URL = "http://localhost:3000/" *@
        const API_COUNTRY_URL = BASE_URL + "negara?ur_negara="
        let API_STUFF_URL = BASE_URL + "barang?hs_code="
        let API_TARIFF_URL = BASE_URL + "tarif?hs_code="

        let countries;

        $('#country').autocomplete({
            source: function (request, response) {
                let term = request.term;
                console.log((term))
                $.ajax({
                    url: API_COUNTRY_URL + encodeURIComponent(term),
                    dataType: "json",
                    success: function (data) {
                        countries = data.filter(country => country.name.toLowerCase().includes(term));
                        response(countries.map(item => item.name.toUpperCase()));
                    }
                });
            },
            minLength: 3,
            select: function (event, ui) {
                countries = countries.filter(item => item.name.toUpperCase() === event.target.value)[0];
                const { kd_negara } = countries
                API_HARBOR_URL = BASE_URL + "pelabuhan?kd_negara=" + kd_negara + "&ur_pelabuhan="
                console.log(kd_negara)
                console.log(API_HARBOR_URL)
            }
        });



        $('#harbor').autocomplete({
            source: function (request, response) {
                let harbors;
                let term = request.term;
                console.log((term))
                $.ajax({
                    url: API_HARBOR_URL + encodeURIComponent(term),
                    dataType: "json",
                    success: function (data) {
                        harbors = data.filter(item => item.ur_pelabuhan.toLowerCase().includes(term));
                        response(harbors.map(item => item.ur_pelabuhan.toUpperCase()));
                    }
                });
            },
            minLength: 3,
            select: function (event, ui) {
                console.log(event.target.value)
            }
        });

        const fetchTariff = () => {
            return $.ajax({
                url: API_TARIFF_URL,
                method: 'GET',
                dataType: 'json'
            }).then(function (data) {
                return data.rate_bea_masuk;
            }).fail(function (xhr, status, error) {
                console.error('Gagal mengambil data tarif: ' + error);
                return 0;
            });
        };

        const stuffTextArea = $('#stuff')
        const ratesTextField = $('#rates')
        const tariffTextField = $('#tariff')
        const priceTextField = $('#price')

        $('#stuff_id').on('input', function () {
            let term = $(this).val();
            if (term.length > 3) {
                $.ajax({
                    url: API_STUFF_URL + encodeURIComponent(term),
                    method: 'GET',
                    data: { stuff_id: term },
                    success: function (response) {
                        console.log(response)
                        stuffTextArea.val(response.map(item => item.details));
                        stuffTextArea.prop('readonly', true);

                        fetchTariff().then(rate => {
                            ratesTextField.val(rate);
                            tariffTextField.val((+priceTextField.val()) * (+ratesTextField.val()) / 100);
                        }).catch(error => {
                            console.error('Error fetching tariff:', error);
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            } else {
                stuffTextArea.prop('readonly', false);
                stuffTextArea.val("")
            }
        });

        $('#price').on('input', function () {
            const rates = ratesTextField.val()
            const price = $(this).val()
            tariffTextField.val((+price) * (+rates) / 100)
            console.log((+price) * (+rates) / 100)
            console.log((+price), (+rates))
        });

    });

</script>