@page "/"

<PageTitle>Home</PageTitle>

<h1>Harbor Form</h1>

<div class="container">
    <table class="table">
        <tr>
            <td>
                <label for="country">Negara</label>
            </td>
            <td>
                <input id="country" type="text" class="form-control">
            </td>
        </tr>
        <tr>
            <td>
                <label for="harbor">Pelabuhan</label>
            </td>
            <td>
                <input id="harbor" type="text" class="form-control">
            </td>
        </tr>
        <tr>
            <td>
                <label for="stuff">Barang</label>
            </td>
            <td>
                <input id="stuff_id" type="text" class="form-control">
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <textarea id="stuff" class="form-control"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <label for="price">Harga</label>
            </td>
            <td>
                <input id="price" type="number" class="form-control">
            </td>
        </tr>
        <tr>
            <td>
                <label for="rates">Tarif Bea Masuk</label>
            </td>
            <td>
                <div class="input-group">
                    <input id="rates" type="number" class="form-control" readonly>
                    <div class="input-group-append">
                        <span class="input-group-text">%</span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <input id="tariff" type="number" class="form-control" readonly>
            </td>
        </tr>
    </table>
</div>

<script>
    let countries
    let kd_negara, ur_pelabuhan, hs_code, ur_negara, rate

    // Negara
    $(document).ready(function () {
        $("#country").autocomplete({
            source: function (request, response) {
                let term = request.term.toLowerCase()
                $.ajax({
                    url: "https://restcountries.com/v3.1/name/" + encodeURIComponent(term) + "?fields=name,cca2,altSpellings",
                    dataType: "json",
                    success: (data) => {
                        countries = data.filter(country => country.name.common.toLowerCase().includes(term))
                        response(countries.map(item => item.name.common.toUpperCase()))
                    }
                });
            },

            minLength: 3, // Minimum characters before autocomplete starts
            select: function (event, ui) {
                // Handle selection if needed
                console.log(event.target.value)
                countries = countries.filter(item => item.name.common.toUpperCase() === event.target.value)[0]
                kd_negara = countries.cca2
                console.log(kd_negara)
            }
        });
    });

    // Pelabuhan
    $(document).ready(function () {
        $("#harbor").autocomplete({
            source: function (request, response) {
                let term = request.term.toLowerCase()
                $.ajax({
                    url: "https://restcountries.com/v3.1/name/" + encodeURIComponent(term) + "?fields=name,cca2,altSpellings",
                    dataType: "json",
                    success: (data) => {
                        countries = data.filter(country => country.name.common.toLowerCase().includes(term))
                        response(countries.map(item => item.name.common.toUpperCase()))
                    }
                });
            },


            minLength: 3, // Minimum characters before autocomplete starts
            select: function (event, ui) {
                // Handle selection if needed
                console.log(event.target.value)
                countries = countries.filter(item => item.name.common.toUpperCase() === event.target.value)[0]
                kd_negara = countries.cca2
                console.log(kd_negara)
            }
        });
    });

    // Barang
    $(document).ready(function () {
        const stuffTextArea = $('#stuff')
        const ratesTextField = $('#rates')
        const tariffTextField = $('#tariff')
        const priceTextField = $('#price')
        $('#stuff_id').on('input', function () {
            let term = $(this).val();
            if (term.length > 3) {
                // Make AJAX call to your API
                $.ajax({
                    url: "https://restcountries.com/v3.1/name/" + encodeURIComponent(term),
                    method: 'GET',
                    data: { stuff_id: term },
                    success: function (response) {
                        console.log(response)
                        // Populate the #stuff textarea with the response
                        stuffTextArea.val(response.map(item => item['altSpellings']));
                        stuffTextArea.prop('readonly', true);
                        ratesTextField.val(response.map(item => item['population']))
                        tariffTextField.val((+priceTextField.val()) * (+ratesTextField.val()))
                    },
                    error: function (xhr, status, error) {
                        // Handle error
                        console.error(xhr.responseText);
                    }
                });
            } else {
                // If stuff_id length is not 8, remove readonly attribute
                stuffTextArea.prop('readonly', false);
                stuffTextArea.val("")
            }
        });
    });

</script>